<div class="col-md-4 col-md-offset-4">
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label for="username">username: </label>
      <input type="text" name="username" class="form-control" ng-model="data.username" />
    </div>
    <div class="form-group">
      <label for="password">password: </label>
      <input type="password" name="password" class="form-control" ng-model="data.password" />
    </div>
    <button type="submit" class="btn btn-primary">log in</button>
  </form>
</div>