<div class="col-md-8 col-md-offset-2 question-container">
  <div ng-repeat="question in data.question" class="question-header">
    <h1>{{ question.title }}</h1>
    {{ question.body }}
  </div>
</div>
<div ng-controller="AnswersController">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 answer">
      <form ng-submit="sendAnswers()" class="form" name="answerForm">
        <div class="form-group">
          <textarea name="answer" ng-model="data.answer" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Answer</button>
      </form>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div ng-repeat="answer in results.answers" class="row">
          <div class="col-md-12">
            {{ answer }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>