<div class="col-md-10 col-md-offset-1 questions-container">
  <div ng-repeat="questions in data">
    <div class="row" ng-repeat="question in questions">
      <div class="col-md-10 col-md-offset-1 question">
        <div class="pull-left votes">{{ question.votes }}</div>
         <div class="pull-left body">
           <h1><a href="#/questions/{{ question.id }}">
            {{ question.title }}</a></h1>
            {{ question.username }}
         </div>
      </div>
    </div>
  </div>
</div>

